h1 {
    text-align: center;
    margin: 20px auto;
}

.nosotros-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 20px 20px 40px;
    padding: 5vh 8.5vw;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.column-1 > div > h2 {
    margin: 30px auto;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.valor-item {
    list-style: outside;
}

.img-container {
    width: 400px
}

.nosotros-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: -1;
}