.pr-h1 {
    margin: 20px auto;
}

.intro-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.intro-proyectos > p {
    width: 80vw;
    color: black;
    font-size: 18px;
    font-weight: 550;
    line-height: 1.5rem;
    background-color: #e8e8e8;
    padding: 10px;
}

.proyectos-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.proyectos-container > * {
    width: 80vw
}

.collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    display: block;
    background-color: #f1f1f1;
    overflow: hidden;
    max-height: 800px;
    transition: max-height 0.2s ease-out;
    padding: 0 18px;
    margin-top: -10px;
}

.hidden {
    max-height: 0;
}

.proyectos-description-container {
    line-height: 2rem;
}

.proyectos-description-container > h3 {
    margin: 15px 0 10px;
}

.proyectos-description-container > div:last-child {
    margin-bottom: 10px;
}

.background {
    background-image: url('/proyectos-bg-scale.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
}