.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.735);
}

.footer__quick-links ul li {
  background: transparent !important;
}

.footer__quick-links ul li a {
  color: rgba(255, 255, 255, 0.735);
}

.quick__links-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer__contact li span,
.footer__contact li p {
  color: rgba(255, 255, 255, 0.735);
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.735);
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}

.socials-container {
  display: block;
  max-width: 25%;
}

.social-icon {
  background: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 1200px) {
  .socials-container {
    display: block;
    max-width: 40%;
  }

}